<section>
  <h1>tool</h1>
  <ul id="tool">
  	<li><a href="http://whoer.net/extended">whoer</a></li>
	<li><a href="http://mahua.jser.me/">MarkDown</a></li>
	<li><a href="http://ghosertblog.github.io/mdeditor/">MDeditor</a></li>
	<li><a href="http://pan.baidu.com">百度云</a></li>
	<li><a href="http://bt.shousibaocai.com/">磁力搜索</a></li>
	<li><a href="http://mengzhuo.org/regex/">正则验证</a></li>
	<li><a href="http://tool.oschina.net/">在线工具</a></li>
	<li><a href="http://troll.ws/">troll.ws</a></li>
	<li><a href="http://pixlr.com/editor/">pixlr</a></li>
	<li><a href="http://jinzhi.supfree.net/">进制转换</a></li>
  	</ul>
</section>
